<div class="usage-page">
  <div class="body">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column">
      <ngx-docs-example
        customClass="margin-minus-16"
        title="Use service"
        [html]="sources.service.html"
        [ts]="sources.service.ts"
        fxFlex.gt-sm="50"
        fxFlex.lt-sm="100"
      >
        <div class="body">
          <use-service></use-service>
        </div>
      </ngx-docs-example>
      <ngx-docs-example
        customClass="margin-minus-16"
        title="Use directive"
        [html]="sources.directive.html"
        fxFlex.gt-sm="50"
        fxFlex.lt-sm="100"
      >
        <div class="body">
          <use-directive></use-directive>
        </div>
      </ngx-docs-example>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-md="column">
      <ngx-docs-example
        customClass="margin-minus-16"
        title="Use mock REST response"
        [html]="sources.mockRest.html"
        [ts]="sources.mockRest.ts"
        fxFlex.gt-sm="50"
        fxFlex.lt-sm="100"
      >
        <div class="body">
          <use-mock-rest></use-mock-rest>
        </div>
      </ngx-docs-example>
      <ngx-docs-example
        customClass="margin-minus-16"
        title="Use real REST response"
        [html]="sources.realRest.html"
        [ts]="sources.realRest.ts"
        fxFlex.gt-sm="50"
        fxFlex.lt-sm="100"
      >
        <div class="body">
          <use-rest></use-rest>
        </div>
      </ngx-docs-example>
    </div>
  </div>
</div>
